/* ------- FOOTER ------- */


.info-footer {
  font-family: "Noto Serif", serif;
}

.info-footer li{
  list-style: none;
}

#logo_footer {
  width: 18%;
  margin-top: 30px;
  font-family: "Noto Serif", serif;
  font-size: 13px;
  text-align: left;
}

#logo_footer img {
  width: 230px;
  margin-top: -5px;
  margin-left: -10px;
}

.info-footer h4 {
  font-size: 16px;
  font-weight: bolder;
  text-transform: uppercase;
}

.disclaimer {
  margin: auto;
  text-align: justify;
  font-family: "Noto Serif", serif;
  font-size: 0.75em;
  color: #9d9d9d;
}

.copyright {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 15px;
}

.arrow-top {
  display: block;
  position: fixed;
  width: 40px;
  bottom: 2%;
  right: 2%;
  cursor: pointer;
}

.rrss_footer img {
  width: 26px;
}