/* ------- HEADER ------- */
header{
    background-color: rgba(36, 36, 36);
    z-index: 1000;
}

.header-logo img{
    width: 280px;
}

.navbar{
    padding: 0;
}

.navbar .btn{
    padding: .180rem .75rem;
}
