.userprofile-header{
    margin-top: 55px;
    height: 140px;
}

.sidebar-userprofile{
    background-color: #b5d0f0;
    height: 120vh !important;
}

.main-userprofile{
    background-color: #F3F3F4;
}
